<html>
<link type="text/css" rel="styleSheet" href="index.css" />
<title>E-book</title>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>

<body>
    <div id="booklist">
        <header id="globalHeader">
            <div class="inner">
                <div class="left">
                    <a href="index.html" class="logo"><strong>E-book</strong></a>
                    <a href="booklist.html">所有书籍</a>
                    <a>教材</a>
                    <a>教辅</a>
                    <a>其他书籍</a>
                </div>
                <div class="right">
                    <input class="search" name="text" type="search" aria-label="查找书籍……" placeholder="查找书籍……"
                        autocomplete="off" v-model="searchName">
                    <a href="login.html">登录</a>
                    <a href="register.html">注册</a>
                    <a href="cart.html">购物车</a>
                </div>
            </div>
        </header>
        <div style="height: 3em"></div>
        <p style="margin-left: 2em; padding: 5px">分类：
            <select v-model="selected_category" class="selected_category">
                <option v-for="c in category_list" :value="c.value"> {{ c.name }} </option>
            </select>
        </p>
        <div class="sort">
            <div>排序：</div>
            <div @click="setSortType(1)">价格<img :src='price_sortimage' style="width: 12px; height: 12px; margin-left: 3px;"></div>
            <div @click="setSortType(3)">库存<img :src='stock_sortimage' style="width: 12px; height: 12px; margin-left: 3px;"></div>
        </div>
        <div class="bookele" v-for='book in filter_book'>
            <div class="inner">
                <div class="book">
                    <img :src=" 'images/' + book.ispn + '.jpg' ">
                    <div class="description">
                        <a :href="book.link" class="title">{{ book.title }}</a>
                        <div><a class="price">￥{{ book.price.toFixed(2) }}</a><a class="stock">库存{{ book.stock }}本</a></div>
                        <a class="author">{{ book.author }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./booklist.js"></script>

</html>